x2312-nodeRed/mixing_sim_flow.json
[
  {
    "id": "mqtt_broker_1",
    "type": "mqtt-broker",
    "name": "Local RabbitMQ broker",
    "broker": "172.17.0.1",
    "port": "1883",
    "clientid": "node-red-sim",
    "autoConnect": true,
    "usr": "xMixingNode-1",
    "pwd": "x123456",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "inject_plant_1",
    "type": "inject",
    "name": "Simulate Plant 1 Trigger",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 120,
    "wires": [["func_plant_1"]]
  },
  {
    "id": "func_plant_1",
    "type": "function",
    "name": "Generate Plant 1 Data",
    "func": "var data = {\n    Step_no: Math.floor(Math.random() * 10) + 1,\n    Step_Timer: Math.floor(Math.random() * 600),\n    Mixing_Tank_Volume: +(Math.random() * 5000).toFixed(2),\n    Mixing_Tank_Temperature: +(Math.random() * 120).toFixed(2),\n    MixingTank_Agitator_Speed: Math.floor(Math.random() * 1500),\n    HighShare_Speed: Math.floor(Math.random() * 3000)\n};\n\nmsg.payload = JSON.stringify(data);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": [["mqtt_out_plant_1"]]
  },
  {
    "id": "mqtt_out_plant_1",
    "type": "mqtt out",
    "name": "Publish to mix/plant/1",
    "topic": "mixing/plant/1",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_1",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "inject_plant_2",
    "type": "inject",
    "name": "Simulate Plant 2 Trigger",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 200,
    "wires": [["func_plant_2"]]
  },
  {
    "id": "func_plant_2",
    "type": "function",
    "name": "Generate Plant 2 Data",
    "func": "var data = {\n    Step_no: Math.floor(Math.random() * 10) + 1,\n    Step_Timer: Math.floor(Math.random() * 600),\n    Mixing_Tank_Volume: +(Math.random() * 5000).toFixed(2),\n    Mixing_Tank_Temperature: +(Math.random() * 120).toFixed(2),\n    MixingTank_Agitator_Speed: Math.floor(Math.random() * 1500),\n    HighShare_Speed: Math.floor(Math.random() * 3000)\n};\n\nmsg.payload = JSON.stringify(data);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 200,
    "wires": [["mqtt_out_plant_2"]]
  },
  {
    "id": "mqtt_out_plant_2",
    "type": "mqtt out",
    "name": "Publish to mix/plant/2",
    "topic": "mixing/plant/2",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_1",
    "x": 660,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject_plant_3",
    "type": "inject",
    "name": "Simulate Plant 3 Trigger",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 280,
    "wires": [["func_plant_3"]]
  },
  {
    "id": "func_plant_3",
    "type": "function",
    "name": "Generate Plant 3 Data",
    "func": "var data = {\n    Step_no: Math.floor(Math.random() * 10) + 1,\n    Step_Timer: Math.floor(Math.random() * 600),\n    Mixing_Tank_Volume: +(Math.random() * 5000).toFixed(2),\n    Mixing_Tank_Temperature: +(Math.random() * 120).toFixed(2),\n    MixingTank_Agitator_Speed: Math.floor(Math.random() * 1500),\n    HighShare_Speed: Math.floor(Math.random() * 3000)\n};\n\nmsg.payload = JSON.stringify(data);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [["mqtt_out_plant_3"]]
  }
]
